.title{
    animation-duration: 2s;
    animation-iteration-count: 1;  /* repeat */    
}

#jumbotron-index{
    animation-duration: 2s;
    animation-iteration-count: 1;  /* repeat */
}

p {
    color:white;
}